{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">Login</div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <form action="{{ path('app_login') }}" method="post">
                            <div class="mb-3 form-group">
                                <label for="username">Email</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter email" required>
                            </div>

                            <div class="mb-3 form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Enter password" required>
                            </div>

                            {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="_target_path" value="/account"> #}

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
