@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    background-image: url('/public/images/realistic-office.png');
    background-size: cover;     /* Cover the viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background to create a parallax effect on scroll */
    height: 100vh; /* Full viewport height */
}

#sidebar-wrapper {
    padding-top: 1rem;
}

.sidebar-heading {
    padding: 0.8rem 1.25rem;
    font-size: 1.2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.list-group-item {
    border-width: 0 0 1px;
}

.no-padding-left {
    padding-left: 0 !important;
}

.info {
    background-color: red;
}

.custom-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    /* Add any other styles you want */
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.modern-table th,
.modern-table td {
    padding: 1.5rem;
    vertical-align: top;
    background-color: inherit;
}

.modern-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.modern-table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.modern-table .table-active {
    background-color: rgba(0, 0, 0, 0.075);
}

.modern-table tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Inline Search Bar and Button */
.inline-search input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 80px); /* Full width minus button width */
}

.inline-search button[type="submit"] {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

