{% extends 'base.html.twig' %}

{% block body %}
    <div class="position-absolute top-50 start-50 translate-middle" style="z-index: -1;">
        <h1 class="display-1 text-center font-weight-bold bg-light rounded p-4 mx-auto" style="opacity: 0.8; max-width: 70%;">
            WELCOME TO SEATMASTER
        </h1>
    </div>
{% endblock %}